<div class="row">
  <div class="col-lg-8">
    <h1 class="display-5">Learning NodeJS & Express</h1>
    <% if (isAuthenticated) { %>
    <p class="lead">Hi, welcome back <%= user?.name %>.</p>
    <% } %>
  </div>
</div>