<% if (success_msg.length > 0) { %>
<div class="alert alert-success alert-message" role="alert">
  <%= success_msg %> 
</div>
<% } %>
  
<% if (error_msg.length > 0) { %>
<div class="alert alert-danger alert-message" role="alert">
  <%= error_msg %> 
</div>
<% } %>